%h1=  "Listing progresses for #{@sprint.name}"
%table
  %tr
    %th Description
    %th Points
    %th Apply date
    %th
    %th
    %th 
- @progresses.each do |progress|
  %tr
    %td= progress.description
    %td= progress.points
    %td= progress.apply_date
    %td= link_to 'Show', [@sprint, progress]
    %td= link_to 'Edit', [@sprint, progress]
    %td= link_to 'Destroy', [@sprint, progress], :confirm => 'Are you sure?', :method => :delete
%br/
= link_to('New Progress', new_sprint_progress_path)
