<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @progress.description %>
</p>

<p>
  <b>Points:</b>
  <%= @progress.points %>
</p>

<p>
  <b>Apply date:</b>
  <%= @progress.apply_date %>
</p>


<%= link_to 'Edit', edit_sprint_progress_path(@sprint.id, @progress.id) %> |
<%= link_to 'Back', sprint_progresses_path %>
