%p{ :id=>"notice" } 
  = notice
%p
  %b Description:
    = @progress.description
%p
  %b Points:
    = @progress.points
%p
  %b Apply date:
    = @progress.apply_date
= link_to 'Edit', edit_sprint_progress_path(@sprint.id, @progress.id) |
= link_to 'Back', sprint_progresses_path
