- content_for :title do
  Listing sprints 
%ul
  %li 
    Name Start date Duration Total points
- @sprints.each do |sprint|
  %li
    = sprint.name
    = sprint.start_date
    = sprint.duration
    = sprint.total_points 
    = link_to 'Show', sprint 
    = link_to 'Edit', edit_sprint_path(sprint)
    = link_to('Destroy', sprint, :confirm => 'Are you sure?', :method => :delete)
%br/
= link_to 'New Sprint', new_sprint_path


