- content_for :title do
  Listing sprints
= javascript_include_tag 'chart_helper' 

.sprints
  - @sprints.each do |sprint|
    .sprint
      .graph
        graph
      .links
        = link_to 'Show', graph_url(sprint)
        = link_to 'Edit', edit_sprint_path(sprint)
        = link_to('Destroy', sprint, :confirm => 'Are you sure?', :method => :delete)
      .info
        = sprint.name
        = sprint.start_date
        = sprint.duration
        = sprint.total_points 
      .clearer
= link_to 'New Sprint', new_sprint_path


